body {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    background-color: slategray;
}

svg {
position: absolute;
pointer-events: none;
}

path{
    pointer-events: all;
}

#birdImg {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}

#birdModel {
    position: absolute;
    top: 0;
    /* height: 100%; */
    z-index: 0;
}